/* shared styles  */
body{
    padding: 10px 160px;
    background-color:#f5f5f5 ;
        font-family: "Fira Sans", serif;
        font-weight: 400;
        font-style: normal;
}
.text-secondary{
    color: gray;
}

.primary-btn{
    background-color: #006A50;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    border: none;
}

button:hover{
    background-color: #F30200;
}

/* banner styles  */
.banner-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;

    border-radius: 10px;
    background-color: #C6E4D6;
    padding: 80px 60px;
}

.banner-content{
    width: 50%;
}

.banner-subtitle{
font-size: 20px;
margin:0px;
margin-bottom: 10px;
}

.banner-title{
font-size: 46px;
font-weight: bold;
margin: 0px;
padding: 0px;
margin-bottom: 12px;
}


.hero-btn:hover{
    background-color: #F30200;
}

.hero-img{
    width: 50%;
}


/* future vision styles  */
.vision-card-container{
    display: flex;
    gap:24px;
}
.vision-card{
    background-color: white;
    border-radius: 10px;
    padding: 32px;
}
.vision-card-title{
    margin-bottom: 10px;
}

.learn-more-btn-1{
    background-color: #5490f5;
}
.learn-more-btn-2{
    background-color: #09a15c;
}
.learn-more-btn-3{
    background-color: #ffc239;
}


/* Recent news styles  */
.news-card{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: white;
    border-radius: 20px;
}
.news-thumbnail{
    width: 30%;
    border-radius: 20px;
}
.news-article{
width: 70%;
}

.news-date , .news-paragraph{
    font-size: 16px;
}

/* donate for bd section */
.donate-for-bd{
    text-align: center;
}

.donation-amount-container{
    display: flex;
gap: 24px;
}

.amount{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 25%;
}
.selected-amount{
    background-color: #C6E4D6;
}

.amount:hover{
    background-color: #006A50;
    color: whitesmoke;
}

.other-amount{
   width: 90%;
   margin: 32px 0;
   text-align: center;
   padding: 15px 0;
   border: none;
}